@font-face
  font-family: 'ws-icon'
  src:  url('../fonts/ws-icon.eot?fw4qkv')
  src:  url('../fonts/ws-icon.eot?fw4qkv#iefix') format('embedded-opentype'),
    url('../fonts/ws-icon.ttf?fw4qkv') format('truetype'),
    url('../fonts/ws-icon.woff?fw4qkv') format('woff'),
    url('../fonts/ws-icon.svg?fw4qkv#ws-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="ws-icon-"], [class*=" ws-icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ws-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.ws-icon-add_circle:before
  content: "\e900"

.ws-icon-arrow_lift:before
  content: "\e901"

.ws-icon-check_circle:before
  content: "\e902"

.ws-icon-close:before
  content: "\e903"

.ws-icon-favorite:before
  content: "\e904"

.ws-icon-keyboard_arrow_right:before
  content: "\e905"

.ws-icon-remove_circle_outline:before
  content: "\e906"

.ws-icon-shopping_cart:before
  content: "\e907"

.ws-icon-thumb_down:before
  content: "\e908"

.ws-icon-thumb_up:before
  content: "\e909"


